eBdata/
.DS_Store
/aixin/aixin
aixin.tex
aixin.c
auto/
diff.tex

# Tex file
*.aux
*.bbl
*.blg
*.idx
*.log
*.pdf
*.scn


# figure files
*.eps
*.epsi

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
